.App {
  text-align: center;
}

.mainNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  background-color: blue;
  color: white;
}

.mainNav__list {
  width: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}